.container{
    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(5, 70px);
    grid-gap: 1em;
    justify-content: center;
}

.box{
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 10px;
}

.black{
    background: #000;
}