body{
    background-color: rgb(238, 238, 238);
}

body{
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

img{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container img{
    flex-basis: 200px;
}