.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}

.container > *{
    background: #000;
    padding: 20px;  
    color: #fff;
}

.container header{
    grid-column: 1 / -1;
}

.container main{
    grid-column: span 4;
}

.container aside{
    grid-column: span 2;
}

.container footer{
    grid-column: 1 / -1;
}