*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

div {
    display: block;
    width: 1300px;
    height: 600px;
    margin: 4rem auto; 
    position: relative;
}

div::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, #cd893a, #d9984d, #e5a85f, #f0b772, #fcc785);
}

div::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 2;
    background-image: linear-gradient(to bottom, #8495a0, #97abad, #b2bfba, #ced3cb, #e9e7e2);
    transition: opacity 1s ease-in-out;
}

div:hover::after {
    opacity: 0;
}